// Override core variables or add custom values here
// Default settings available at https://www.weepower.com/style/variables

// $primary: red;

@import '~wee-core/styles/variables.scss';

// Assign variables that need to reference default variables below

$baseFont: 'Lato', sans-serif;
$headingFont: $baseFont;

$blue: #0076d4;
$hoverBlue: darken(#0076d4, 10%);
$linkColor: $blue;
$twitterBlue: #269FF0;
$linkedinBlue: #0C75B2;
$mediumGreen: #15B876;
