// Override core variables or add custom values here
// Default settings available at https://www.weepower.com/style/variables

// $primary: red;

@import '~wee-core/styles/variables.scss';

// Assign variables that need to reference default variables below

$baseFont: 'Lato', sans-serif;
$headingFont: $baseFont;

$blue: #0d67ae;
$linkColor: $blue;
$twitterBlue: #269ff0;
$linkedinBlue: #0c75b2;
$mediumGreen: #15bb76;
