.main-content {
    align-items: center;
    display: grid;
    grid-template-areas:
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5rem;
    justify-items: center;

    .inner-wrap {
        margin-top: 6rem;
    }
}

.description,
.connect  {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.2s ease 0s, opacity 500ms, transform 500ms;

    &.-visible {
        opacity: 1;
        transform: translateY(0);
    }
}

.description {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    padding-left: 15%;
    padding-right: 15%;
}

.connect {
    padding-left: 15%;
    padding-right: 15%;
}

.connect-title {
    display: block;
    margin-bottom: 1.8rem;
}

.social {
    list-style-type: none;

    li {
        display: inline-block;
        height: 5rem;
        margin-right: 1.2rem;
        width: 5rem;

        &:last-of-type {
            margin-right: 0;
        }

        svg {
            display: inline-block;
        }
    }

    &__link {
        display: block;
        height: 3.2rem;
        transition: all .2s ease-in;
        width: 3.2rem;

        path {
            transition: all .2s ease-in;
        }

        &.-twitter {
            &:hover {
                path {
                    fill: $twitterBlue;
                }
            }
        }
        &.-github {
            background: $white;
            border: $black 1px solid;
            border-radius: 50%;
            transform: translateY(2px);
            svg {
                transform: translate(-2.3px, -2.3px);
            }
            &:hover {
                background: $black;
                path {
                    fill: $white;
                }
            }
        }

        &.-linkedin {
            &:hover {
                path {
                    fill: $linkedinBlue;
                }
            }
        }

        &.-medium {
            &:hover {
                path {
                    fill: $mediumGreen;
                }
            }
        }
    }
}

.footer {
    align-items: center;
    display: flex;
    grid-area: footer;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@tablet {
    .description {
        font-size: 2.1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .connect {
        padding-left: 0;
        padding-right: 0;
    }
}

@desktop {
    .main-content {
        height: 100vh;
    }
}
